@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --text-primary-color: #000;
  --text-secondary-color: #888;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --text-primary-color: #fff;
  --text-secondary-color: #444;
}

.text-primary {
  color: var(--text-primary-color);
}

.text-secondary {
  color: var(--text-secondary-color);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scroll-behavior: smooth;
}

body * {
  font-family: var(--font-montserrat);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bottom-line {
  background-color: var(--text-primary-color);
  height: 2px;
  width: 100%;
  transform: scale(0);
  transition: 500ms;
  border-radius: 4px;
}

*:has(> .bottom-line):hover .bottom-line {
  transform: scale(1);
}

/* Hide scrollbar but allow scrolling */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.z-max {
  z-index: 99999999999;
}

.project-img {
  transition: all 500ms;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project:hover > .project-img,
.project:focus > .project-img {
  height: 0;
}

.project:hover .project-description {
  display: block;
}

.project-footer {
  transform: translateY(200px);
}

.project:hover .project-footer,
.project:focus .project-footer {
  transform: none;
}

.skill-card-img-bg {
  transition: 900ms linear !important;
  transform: scale(1) !important;
}

.skill-card:hover .skill-card-img-bg {
  transform: scale(7) !important;
}
